<ul>
  <li>
    <a [routerLink]="['/calculator']" routerLinkActive="active">Calculator</a>
    <div></div>
  </li>
  <li>
    <a [routerLink]="['/object-list']" routerLinkActive="active">Object list</a>
    <div></div>
  </li>
  <li>
    <a [routerLink]="['/directive']" routerLinkActive="active">Directive</a>
    <div></div>
  </li>
  <li>
    <a [routerLink]="['/lifeCycle']" routerLinkActive="active">Life Cycle</a>
    <div></div>
  </li>
  <li>
    <a [routerLink]="['/requests']" routerLinkActive="active">Request & Services</a>
    <div></div>
  </li>
  <li>
    <a [routerLink]="['/pipes']" routerLinkActive="active">Pipes</a>
    <div></div>
  </li>
  <li>
    <a [routerLink]="['/forms']" routerLinkActive="active">Forms</a>
    <div></div>
  </li>
</ul>


